#movies{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em 2em;
}

.movie {
    border: 2px solid rgb(201, 201, 252);
    border-radius: 2em;
    overflow: auto;
    height: 20em;
    -ms-overflow-style: none;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
}

.title{
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 2em;
    background-image: linear-gradient(to bottom right, rgba(237, 238, 157), rgba(243, 240, 79), rgba(243, 107, 107));
    font-family: 'Knewave', cursive;
    text-align: center;
    padding: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
}

.description{
    font-style: italic;
    font-family: 'Lobster Two', cursive;
    margin: 0.5em;
}
body{
    background-color: rgba(183, 217, 219, 0.5);
}

.movie::-webkit-scrollbar {
    display: none;
}